.logo {
    display: flex !important;
    align-items: center;   
}

.logo > img {
    padding-right: 10px;
}

.project-content {
    display: flex;
}

.project-content > img {
    width: 25vw;
    height: 25vw;
    margin-right: 5vw;
}